/* ===============================
   Colour Palette:
   ---------------
   Light Cream:	#f2f3ee
   Orange:			#d17f38
   Yellow:			#e8c04f
   Brown:			#4b2707
   =============================== */

/* General */

body {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
	text-align: center;
	font-size: 30px;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {


}


/* Typography */

h1, h2 {
	color: #d17f40;
	font-size: 44px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	margin: 20px;
    line-height: 50px;
}

h1 {
	text-align: center;
	padding: 10px 10px 20px;
	background: url(../images/header-divider.png) bottom center no-repeat;

}

h1 em {
	color: #4b2707;

}

h2 {
	font-size: 34pt;

}

h3 {

}

p.lead {
	font-size: 40px;
	text-align:right;
	margin: 10px 10px;

}

p {
	font-size: 18px;
	text-align: left;
	margin: 10px 10px;

}

a:link, a:visited {
	color: #4b2707;
}

a:hover {

}

hr {
	background: url("../images/divider.png") center center;
	display: none;
}


/* Header */

header nav {

	background: url("../images/logo.png") no-repeat center center;

}

header nav ul {
	display: flex;
	justify-content: space-around;
	height: 14vh;
	padding: 56px 139px 30px 180px;
	margin: 20px -119px;
	font-size: 30px;

}

header nav ul li {
	display: inline;
	padding: 0 20px;
 
}

header nav ul li a {
	color: #4b2707;
    text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
}

header nav ul li a:hover {
	background: url(../images/tiny-donut.png)top center no-repeat;
	padding-top: 30px;
	color: black;

}

header nav ul li#logo a {
	display: none;
	width: 300px;
	height: 150px;
	background: url(../images/logo.png)center center no-repeat;
	
}

header nav ul li#logo a:hover {

}


/* Hero */

#hero {
	background: #e8c04f url(../images/bg-tile-yellow.gif) top left repeat;


}

#hero .container {
	position: relative;

	
}

#hero .large-ribbon {
	background: url(../images/fresh-whole-ingredients.png)no-repeat right padding-box;
	position: absolute;
	right: 160px;
	height: 200px;
	width: 160px;
	top: -25px;
	text-indent: -50000px;
	float: initial;

}


/* The Whole Story */

#story-excerpt {
	width: 550px;
	font-size: 16px;
	float: left;
	margin-right: 24px;

}  

#best-donut {
	background: url(../images/award.png) left center no-repeat;
	padding: 30px 10px 30px 140px;
	float: left;
	width: 300px;

}




/* News & Events */

#articles {

}

#feature-image {
	position: relative;
	margin: 20px 500px;
	display: flex;
}

#news-events article {

}

#news-events article.news {

}

#news-events article.event {

}

#news-events header time {
	color: #4b2707;
}

#news-events section.excerpt {

}

#news-events footer {

}


/* Footer */

footer.main {
	background: #4b2707;
}

footer.main a:hover {

}

#uncopyright, #credits {
	position: relative;
	width: 100%;
	color: white;
}

#uncopyright {
	left: 329px;
	display: inline-flex;
	padding: 20px 20px 20px 46px;
	background: url("../images/icon-recycle.png") no-repeat left;
	word-break: keep-all;
	width: 1223px;
}

#credits {
	right: -669px;
	display: inline-flex;
	padding: 0 20px 20px 46px;
	background: url("../images/icon-apple.png") no-repeat;
}


/* Force Elements to Self Clear its Children: http://css-tricks.com/snippets/css/clear-fix/ */

.clearfix:after {
	visibility: hidden;
	display: block;
	content: "";
	clear: both;
	height: 0;
}
* html .group             { zoom: 1; } /* IE6 */
*:first-child+html .group { zoom: 1; } /* IE7 */





